*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #272424;
}

.calc-container {
  background:  #0c2835;
  color: #fff;
  border: 2px solid rgb(240, 237, 237);
  max-width: 400px;
  margin: 15vh auto 0 auto;
}

#calc-display {
  height: 70px;
  padding: 16px 8px;
  line-height: 70px;
  text-align: right;
  font-size: 25px;
}

.calc-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-left: 1px solid  rgb(240, 237, 237);
  border-bottom: 1px solid  rgb(240, 237, 237);
}

.calc-buttons > div {
  border-right: 1px solid  rgb(240, 237, 237);
  border-top: 1px solid  rgb(240, 237, 237);
}

.calc-btn {
  text-align: center;
  font-size: 25px;
  line-height: 100px;
  border: 0.5px solid  rgb(240, 237, 237);
  cursor: pointer;
}

.clear{
  background-color: rgb(32, 220, 226);
  color: #000;
}

#equal {
  background-color: rgb(32, 220, 226);
  color: #000;
}

.calc-btn:hover {
  background-color: rgb(32, 220, 226);
  color: #000;
  transition: 0.5s ease-in-out;
}

